.process-bar
{
    margin-top: 300px;
    
}
.card{
    box-shadow: 0px 3px 6px #00000029 !important;
    height: 604px;
    /* width: 1202px; */
 }
 .pnts{
    overflow: scroll;
    height:100px;
}

.datepicker-modal {
margin-top: 150px !important;
}
.timepicker-modal {
    margin-top: 150px !important;
}

.backgrond-col{
    background-color: #f8f8f8;
    padding: 52px;
    width: 97%;
    margin-left: 52px;
}
/* CreateEvent css */
.create-card{
    width: 93%;
    margin: 52px;
   
     height: 714px;
}
.title-icon{
    margin-top: 15px !important;
    width: 65px !important;
}
.create-input{
    height: 20px !important;
    
}
.create-icon{
     
    margin-left: -25px !important; 
    color: #67a9fe !important; 
}
.pad-range{
    padding-left: 20px !important;
    padding-right: 70px !important;
}
.createmeet{
   margin-top: 30px;
   margin-right: 30px !important;
}
.create-form{
   
   margin-top: 20px;
   margin-left: 271px;
   width: 660px;
   margin-bottom: 20px;
  
}
.create-label{
    
    padding-left: 70px !important;
    
    }

 .add_scrl{
     overflow:scroll;
 }
    .adj-inp{
        width: 160px !important;
    }
    .adj-inp1{
        width: 232px !important;
        position: relative;
        left:20px
    }
.create-label2{
   
    font-size: 24px;
}
.tym-fld{  
      padding-left: 18px;  
      width: 245px !important;
     
       margin-top: 0px;   
     color: red !important;
    }
.progress{
    margin-left: 10px !important;
}

.determinate{
    width:50% !important;
    background-color: #67a9fe !important;
    padding-left: 170px !important;

}
.progress{
    width:95%;
    margin-left: 56px;
}
.add-part{
    margin-left: 190px;
}
.addparticipants{
    
    width: 460px !important;
}
.create-badge{
    background-color: #f5f5f5;
    border-radius: 10px;
}
a.per{
    color:#686868 !important;
}
a.here{
  color:#F62E2E !important;
}



    /* Add Agenda */
    .agnd-inp{
        width: 460px !important;
    }

.add-agen{
    
    margin-left: 90px !important;  
}
.add-form{
   
    margin-top: 10px;
   margin-left: 240px;
   width: 660px;
   padding-bottom: 20px;
}
.agenda-label{
    margin-top: 25px !important;
  
}
.lst{
    padding-left: 40px;
}
.sub-btn{
    width:20% !important;
    background-color: #67a9fe !important;
    border-radius: 10px;
   
    margin-top:30px; 
}
.agenda-addbtn{
    background-color: #67a9fe !important;
    margin-left: 40px;
    
}
.agd-lis{
margin-left: 140px !important;
}
.agenda-editbtn{
     margin-top: 20px !important;
      
}
.agenda-delbtn{
    margin-top: 20px !important; 
   
}
.disb-input{
  color:black !important;
}
 /* Margins */
 .mar-r{
     margin-right: 80px;
 }
 


  /* dashboard */
   .userdash-btn{
    background-color: #67a9fe !important;
    position: relative;
    left: 80px;
}

.cal_agnda_list{
    overflow: scroll;
    height: 100px;
}

 .addmints{
    color:white
}

  .material-icons{
    color:#bfbfbf;
 }

 .createbtn{
    width:60px !important;
    
    margin-left: 10px;
 }
 .btn-floating{
    margin-top: 10px;
 }
 .card-br{
    border-radius:10px;
    background-color:white;
   
 }
 .card-br{
    border-radius:10px;
    background-color:white;
    height:315px  !important;
    margin-top: 52px;
    width: 90%;
 }

 .card-br1{
    border-radius:10px;
    background-color:white;
     height: 223px;
     overflow: scroll;
     width:90%;
 }
 .row{
    margin-bottom: 20px;
 }
 .header{
    box-shadow: none !important;
 }
 .arw-icon{
    color: #797676;
}
.arw-icon1{
    color: #797676;
    margin-right: 5px;
    height:200px;
}

 
 .card-cal{
    
    width:117%!important;
}
.mdlpop{
    padding-left: 40px !important;
    margin-bottom: 20px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cal-agda{  
      color:#615e5e;
          width: 160px;
        }
.mdl-titl{
    margin-top: 3px;
}

 .mkuy{
   
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
 }
 .list{
    list-style-type: initial !important;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .card-content{
     margin-left: 20px;
    text-align: left;
    font-size: 22px;
    color: #090909;
    font-family: Roboto;
 }
 h6{
    font-size: 24px;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .collect{
    font-size: 22px;
    float:right;
    margin-top: 10px;
 }
 .cd3{
    height:580px;
    width: 95%;
    
 }
 .dropdown-trigger{
    border-radius: 100px;
}

/* sidenav CSS */
 .sidenv-img{
    padding-left: 50px;
    margin-top: 20px;
}
.sidenav-create{
   color:rgba(6, 6, 7, 0.808);
   font-size: 18px;
}
.add-btn-side{
    margin-top: 10px !important;
}

 .hdr-srch{
    position:relative;
    left:30px;
  
}

.userdash-btn{
    background-color: #67a9fe !important;
}

/* register */
.frm1{
    margin-left:22px;
    width:391px
}

.urp-label1{
    background-color: white;
        padding: 6px !important;
        margin-left: 0px !important;
        width: 130px !important;
        color: black !important;
    }

/* header */

.nav{
    box-shadow: 0px 3px 6px #00000029 !important;
}

.nav-wrapper{
    align-items: stretch;
}